section.alone_site
  .container
    .row
      .col-12
        h1 ログイン
    .row
      .col-12
        = bootstrap_form_for(:session, url: login_path, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9") do |f|
          = f.text_field :name, label: "ユーザーＩＤ"
          br
          br
          = f.password_field :password, label: "パスワード"
          br
          br
          = f.check_box :remember_me, label: "この端末にログイン情報を記憶する"
          br
          br
          = f.submit 'ログイン', class: 'btn btn-primary btn-md'
