css:
  .custom-file-label-image::after {
    content: "駐車場案内図を選択";
  }


section.alone_site
  .container
    .row
      .col-12
        h1 お願い 編輯
    .row
      .col-12
        = bootstrap_form_for(@attention, :html => { :multipart =>true }) do |f|
          / = f.text_field :title, skip_label: true
          = f.text_area  :article, rows: 15, skip_label: true
          br
          - if @attention.picture.present?
            .col-12
              .card.text-center
                = link_to image_tag(@attention.picture.url.html_safe), @attention.picture.url, title: @attention.caption

          - p = FormPresenter.new(f, self)
          = p.upload_file_block(accept: :image)

          .text-right
            = f.check_box  :display,           label: "表示する", value: true, skip_label: true
            => link_to "駐車場案内図を削除", @attention, method: :delete, data: { confirm: '本当に削除しますか' }, class: "btn btn-danger btn-sm"
            => f.submit "更新する", class: 'btn btn-sm btn-success'

      .col-12
        .text-right
          br
          = link_to 'お願い の編輯を終える', "#{root_path}#attention", class: 'btn btn-primary btn-sm'
  .container
    .row
      .col-12
        hr
        ul
          li 選手へのお願いは、適宜編輯してください。
          li 選手への案内を表示させたいときには、「表示する」にチェックを入れてください。
          li 駐車場案内図を更新する場合には、一旦「駐車場案内図を削除」ボタンで、削除した後に、「駐車場案内図を選択」ボタンから、今年の駐車場案内図を選んでください。

  .container
    .row
      .col-12
        hr
        == render 'shared/markdown_explanation'
