section.alone_site
  .container
    .row
      .col-12
        h1 見出し 編輯
        = bootstrap_form_for(@landing) do |f|
          = f.text_area :article, rows: 10, skip_label: true
          .text-right.mt-2.mb-2
            = f.submit class: 'btn btn-sm btn-success'
      .col-12
        .text-right
          = link_to '見出し の編輯を終える', root_path, class: 'btn btn-primary btn-sm'

    hr
    .row
      .col-12
        == render 'shared/markdown_explanation'
