javascript:
  $(function(){
    $('#navbar').removeClass('transparent');

    // 詳細は http://ivaynberg.github.io/select2/  #documentation
    $(".searchable").select2({
      // width:      185,   //  横幅
      allowClear: false  //  Clear x を表示しない
    });
  });



scss:
  td {
    vertical-align: top;
  }
  .form-group {
    margin-bottom: 0;
  }
  .form-control {
    padding: .25rem .25rem;
    border-radius: 4px;
  }
  label[for='score_provisional_or_decision'] {
    display: none;
  }
  .custom-file-control {
    padding: 0.4rem 0.2rem;
  }
  .custom-file-control::before {
    content: "成績ファイルを選択";
  }
  textarea {
    height: 8em;
  }

section.alone_site
  .container
    .row
      .offset-1.col-10.clearfix
        h1.text-center.text-primary
          | 大会成績　編輯
        hr

    .row
      .col-12
        .table-responsive.mx-auto style="width: 95%;"
          table.table.table-xs.table-striped.table-hover.table-bordered.center
            - @scores.each_with_index do |score, i|
              = bootstrap_form_for(score, url: score_path(score), html: { multipart: true }) do |f|
                tr
                  td style="width: 46%;"
                    = f.text_field :year, class: "text-left", placeholder: "開催年", skip_label: true
                  td style="width: 46%;"
                    = f.select :provisional_or_decision, [["一日目の成績", "一日目の成績"], ["総合成績", "総合成績"]], {}, class: "searchable", skip_label: true
                  td rowspan=3
                    = f.submit "更新", class: 'btn btn-sm btn-success'
                    br
                    br
                    = link_to "削除", score_path(score, controller.controller_name.singularize), method: :delete, data: { confirm: '本当に削除しますか' }, class: "btn btn-danger btn-sm"
                tr
                  td
                    = f.text_area  :info, class: "text-left", placeholder: "大会情報", skip_label: true
                  td
                    = f.text_area  :note, class: "text-left", placeholder: "凡例", skip_label: true
                tr
                  td colspan=2 style="width: 100%;"
                    - p = FormPresenter.new(f, self)
                    = p.upload_file_block(accept: :excel)
    hr
    .row
      .col-12
        .table-responsive.mx-auto style="width: 95%;"
          table.table.table-xs.table-striped.table-hover.table-bordered.center
            = bootstrap_nested_form_for(@score, html: { multipart: true }) do |f|
              tr
                td style="width: 46%;"
                  = f.text_field :year, class: "text-left", placeholder: "開催年", skip_label: true
                td style="width: 46%;"
                  = f.select :provisional_or_decision, [["一日目の成績", "一日目の成績"], ["総合成績", "総合成績"]], {}, class: "searchable", skip_label: true
                td rowspan=3
                  = f.submit "追加", class: 'btn btn-sm btn-primary'
              tr
                td
                  = f.text_area  :info, class: "text-left", placeholder: "大会情報", skip_label: true
                td
                  = f.text_area  :note, class: "text-left", placeholder: "凡例", skip_label: true
              tr
                td colspan=2 style="width: 100%;"
                  - p = FormPresenter.new(f, self)
                  = p.upload_file_block(accept: :excel)
    .row
      .col-12
        hr
        .text-right
          = link_to '大会成績 の編輯を終える', "#{root_path}#score", class: 'btn btn-primary btn-sm'
