javascript:
  $(function(){
    $('#navbar').removeClass('transparent');
  });

section.alone_site
  .container
    .row
      .offset-1.col-10.clearfix
        h2.text-center.text-primary = "第#{@score.year-1982}回 伊勢湾カップ #{@score.year}"
        h2.text-center.text-primary = @score.provisional_or_decision
        hr

  .clearfix
    .float-right style="margin-right: 20px;"
      p 
        = html_br @score.info
        / | 日程: 2016年8月6日-7日
        / br
        / | 於　: 愛知県知多市新舞子海岸
        / br
        / | 　　&nbsp;&nbsp;同沖合
        / br
        div.clearfix
          = html_br @score.note
          / .float-left
          /   p
          /     | 伊: 伊勢湾DIV
          /     br
          /     | Ｔ: テクノDIV
          /     br
          /     | Ｌ: ﾛﾝｸﾞﾎﾞｰﾄﾞｸﾗｽ
          / .float-right
          /   p
          /     | ★: U-17
          /     br
          /     | ▼: U-15
          /     br
          /     | Ｍ: -45
  .clearfix
    p.small.float-right
      | ※ 項目名をクリックすると並び替えできます

  .container-fluid
    .row
      .col-12
        .table-responsivea
          table.score_list.table.table-xs.table-striped.table-hover.table-bordered
            thead
              - @score&.data&.each&.with_index(1) do |row, i|
                - if i <= 2
                  tr
                    - row.each do |cell|
                      th = cell
            tbody
              - @score&.data&.each&.with_index(1) do |row, i|
                - if i >= 3
                  tr
                    - row.each do |cell|
                      td = cell

          p.small.text-right
            | (敬称略)
