@use "utilities" as *;

#landing {

  /* スライダー全体の縦幅を全画面にする */
  #vegas-slider {
    width: 100%;
    height: 100vh;
  }

  .grid {
    max-width: 1127px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 5% minmax(22.5%,267px) minmax(67.5%,830px) 5%;
    grid-template-rows: 20vh auto auto auto auto;

    img { grid-row: 2 / span 3; grid-column: 2; text-align: right; width: 240px; height: 240px; text-align: right; }
    .h1 { grid-row: 2;          grid-column: 3; margin-left: -50px; }
    .h2 { grid-row: 3;          grid-column: 3; margin-left: -50px; }
    .h3 { grid-row: 4;          grid-column: 3; margin-left: -50px; }
    .ui.text.container { grid-row: 5; grid-column: 2 / span 2; }
  }

  .h1 {
    color: transparent;
    background: linear-gradient(90deg, #a38131 0%, #e7c76d 33%, #ffe6c5 62%, #e3c05d 83%, #9d874e 100%);
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
    text-shadow: 0 0 10px #ffe6c5;
    word-break: keep-all;
    font-size: clamp(30px, 9vw, 44px);
    letter-spacing: 0.2em;
  }

  .h2,
  .h3 {
    color: $sakurairo;
    text-shadow: 2px 2px 2px $kurohairo;
  }

  .h2 {
    font-size: clamp(24px, 7.5vw, 36px);
    line-height: 1.4;
    letter-spacing: 3px;
  }

  .h3 {
    font-size: clamp(16px, 5vw, 24px);
    letter-spacing: 3px;
  }

  p {
    text-indent: 1em;
    color: black;
    font-weight: bold;
    text-shadow:
           3px 3px 5px white, -3px -3px 5px white,
          -3px 3px 5px white,  3px -3px 5px white;
  }

  @media (width < 768px) {
    .grid {
      display: grid;
      grid-template-columns: 5% 0 90% 5%;
      grid-template-rows: 5vh auto auto auto auto;
      .h1, .h2, .h3 { margin-left: 0; }
    }
  }
}
