@use "utilities" as *;

#landing {
  .h1 {
    color: transparent;
    background: linear-gradient(90deg, #a38131 0%, #e7c76d 33%, #ffe6c5 62%, #e3c05d 83%, #9d874e 100%);
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
    text-shadow: 0 0 10px #ffe6c5;
  }

  .h2,
  .h3 {
    color: $sakurairo;
    text-shadow: 2px 2px 2px $kurohairo;
  }

  .h2 {
    font-size: clamp(24px, 7.5vw, 36px);
    line-height: 1.4;
    letter-spacing: 3px;
  }

  .h3 {
    font-size: clamp(16px, 5vw, 24px);
    letter-spacing: 3px;
  }

  p {
    text-indent: 1em;
    color: black;
    font-weight: bold;
    text-shadow:
           3px 3px 5px white, -3px -3px 5px white,
          -3px 3px 5px white,  3px -3px 5px white;
  }
}
