table.ui.table {

  th {
    padding: .78571429em .78571429em;
  }

  td {
    text-indent: 1em;
  }

  td p {
    margin-bottom: 0;
  }

  td small {
    display: block;
    text-align: right;
  }

}
