section#landing
  #vegas-slider
    .grid
      = image_tag "isewan_logo_1200x1200.png", class: "computer only mr-2"
      h1.ui.center.aligned.h1.header.mb-0
        | 第40回記念大会 伊勢湾カップ2023
      p.ui.center.aligned.h2.header.mb-0
        | The Last Isewan Cup
      p.ui.center.aligned.h3.header.mb-0
        | 8月5日(土)～6日(日)
      .ui.text.container
        .ui.text.segment
          p.bold.center.text.mb-0 style="font-size: 1.35rem; text-align: center;"
            | 只今メンテナンス中です。
            br
            | 暫くお待ちください。
        / p.bold.center.text.mb-0 style="font-size: 1.35rem;"
        /   | 伊勢湾カップ 御礼
        /
        / p.mb-0
        /   | 第４０回伊勢湾カップ2023にご参加いただいた皆様、ウインドに絶好の風の中、予定の５レースすべて終えることができました。伊勢湾DIVでは総合優勝福村拓也選手、女子では小嶺恵美選手らが上位入賞を果たされました。
        /   = link_to "（成績表参照）", "https://isewan-cup.org/result.pdf"
        / p
        /   | 今大会を以て、伊勢湾カップは幕引きとなります。総合優勝された選手の名をカップに刻み、五輪代表選手や国体での優勝選手など、40年間の歴史の中で多くの選手や大会オーガナイザー、地元知多市、知多市観光協会、愛知県、一般セーラー等、ご支援下さった方々全てに心からお礼を申し上げます。ありがとうございました。




        / p
        /   | 新舞子特有の徐々に強さを増してくるシーブリーズの中、レースを楽しみたいとの思いを共に抱く有志が集まり始まった伊勢湾カップ。大いなる草レースとして、今回で40回の記念大会を迎えることができました。出場される選手はもとより、支えてくださる全ての方々に深く感謝申し上げます。
        / p
        /   span style="font-size: 1.25rem;"
        /     | 全国有数のウィンドサーフィンの祭典
        /
        /   | として、毎年夏に開催して参りましたが、猛暑による熱中症など選手の安全を第一に考え、また新舞子の陸側や海の状況等により、大変残念ではありますが、この第40回記念大会を以て幕引と致します。
        / p
        /   | 実行委員会一同、選手の皆さんが最高のパフォーマンスを発揮できる素晴らしい大会となるよう、準備を進めて参ります。新舞子の碧い海で皆様にお目にかかれること、楽しみに致しております。

        / p
        /   | 第４０回伊勢湾カップ2023にご参加いただいた皆様、暑い中、また台風が進行方向を変え九州に向かってきている中、幸い新舞子では、初日４~7m/秒で３レース、二日目は高気圧の縁を回って吹き出す南東の風と、サーマルが合体した５m/秒~８m/秒の少しずつ強さを増すこれぞウインドに絶好の風の中2レースを行い、予定していた５レースすべて消化することができました。
        /
        / p
        /   | 今回は伊勢湾DIVで総合優勝となったのは1位から3位まで同ポイントの白熱した争いでしたが、㈱豊田自動織機の福村拓也選手が最終レーストップでフィニシュして、逆転優勝となりました。女子では総合５位の小嶺恵美選手が１位、マスターズクラス九州から参加の松浦絵里選手が男子選手を押さえて１位に、またシニアクラスは総合３位に入った大分から参加の黒石勇治選手が１位に、ウィンドサーファークラスは総合で１４位に入った作野達雄選手、テクノDIVでの総合優勝は山口直樹選手、U-15 １位は梶村幸永選手、の皆さんがそれぞれのDIVで上位に入られました。
        /   = link_to "（成績表参照）", "https://isewan-cup.org/result.pdf"
        /
        / p
        /   | 本年は早くに梅雨明けしてから、大会二日前までは灼熱のような高温の天気が続いたり、知多市新舞子も通常のシーブリーズとは違った風でしたが、大会に入るとその気温もサーマルによって33℃どまりとなり、2日間とも絶好のコンディションとなりました。
        / p
        /   | 大会に参加してくださった皆様には、台風が接近する予定にも関わらず新舞子にお越しくださり、大会実行委員会として、心から感謝申し上げます。ありがとうございました。今回のレースに関する写真については後日の掲載を予定いたしておりますが、今大会をもって41年前から続いてきた
        /   small
        /     | （コロナで１度だけ2020年のみ開催見合わせ）
        /   | 伊勢湾カップは40回の大会をもって幕引きとなります。
        / p
        /   | 伊勢湾カップの総合優勝された選手の名前がカップにその名を刻んできて、プロの選手からオリンピック日本代表選手、また国体で複数回優勝している選手など40年間のウインドの歴史の中でこの大会が多くの選手によって支えられ、またこの本大会に出場するための予選大会を開催して下さった日本全国の大会オーガナイザーのご支援の賜物と改めて感謝するところです。
        / p
        /   | また伊勢湾カップを開催するにあたり、なんといっても地元知多市をはじめ、一般社団法人知多市観光協会、愛知県、またいつも新舞子でセーリングしている一般セーラーの方々に心からお礼を申し上げるとともに、この40回の開催をバックヤードから支えてくださった、ウインドサーフィンの関係メーカー、そして地元の方々すべての関係の方々に改めて御礼申し上げます。41年間ありがとうございました。

/         .kaicho
/           .first.column
/           .second.column
/             p.mb-0
/               | 令和5年8月6日
/             p.mb-0
/               / | 伊勢湾カップ大会会長 神谷 至
/               | 大会会長　神谷　至
/             p.medium.text
/               | 伊勢湾カップ 知多フリート運営スタッフ一同
/
/
/
/
/           / p.mobile.only style="width: 250px; text-align: left; margin-bottom: 0; text-indent: 0; font-size: 1.25rem;"
/           /   / | 伊勢湾カップ大会会長 神谷 至
/           /   | 大会会長　神谷　至
/           /   br
/           /   | 伊勢湾カップ 知多フリート運営スタッフ一同
/
/   / スクロールを促す為のアニメーション
/   .scroll.down
/     span
/       | Scroll
/
javascript:
  $('#vegas-slider').vegas({
    overlay: true,
    transition: 'blur',
    transitionDuration: 2000,
    delay: 10000,
    animationDuration: 20000,
    animation: 'kenburns',
    slides: [{ src: "#{asset_path 'vegas1.webp'}"},
             { src: "#{asset_path 'vegas2.webp'}"},
             { src: "#{asset_path 'vegas3.webp'}"},
             { src: "#{asset_path 'vegas4.webp'}"},
             // { src: "#{asset_path 'vegas5.webp'}"},
             { src: "#{asset_path 'vegas6.webp'}"}]
  });
/
/ .ui.container
/   #about.pt-68
/   .ui.aligned.grid
/     .left.floated.left.aligned.ten.wide.column
/       .ui
/         h2.ui.h2.yellow.header
/           | 伊勢湾カップ 御礼
/   .ui.yellow.segment.mb-0
/     p
/       | 第４０回伊勢湾カップ2023にご参加いただいた皆様、暑い中、また台風が進行方向を変え九州に向かってきている中、幸い新舞子では、初日４~7m/秒で３レース、二日目は高気圧の縁を回って吹き出す南東の風と、サーマルが合体した５m/秒~８m/秒の少しずつ強さを増すこれぞウインドに絶好の風の中2レースを行い、予定していた５レースすべて消化することができました。
/
/     p
/       | 今回は伊勢湾DIVで総合優勝となったのは1位から3位まで同ポイントの白熱した争いでしたが、㈱豊田自動織機の福村拓也選手が最終レーストップでフィニッシュして、逆転優勝となりました。女子では総合５位の小嶺恵美選手が１位、マスターズクラス九州から参加の松浦絵里選手が男子選手を押さえて１位に、またシニアクラスは総合３位に入った大分から参加の黒石勇治選手が１位に、ウィンドサーファークラスは総合で１４位に入った作野達雄選手、テクノDIVでの総合優勝は山口直樹選手、U-15 １位は梶村幸永選手、の皆さんがそれぞれのDIVで上位に入られました。
/       = link_to "（成績表参照）", "https://isewan-cup.org/result.pdf"
/
/     p
/       | 本年は早くに梅雨明けしてから、大会二日前までは灼熱のような高温の天気が続いたり、知多市新舞子も通常のシーブリーズとは違った風でしたが、大会に入るとその気温もサーマルによって33℃どまりとなり、2日間とも絶好のコンディションとなりました。
/     p
/       | 大会に参加してくださった皆様には、台風が接近する予定にも関わらず新舞子にお越しくださり、大会実行委員会として、心から感謝申し上げます。ありがとうございました。今回のレースに関する写真については後日の掲載を予定いたしておりますが、今大会をもって41年前から続いてきた
/       small
/         | （コロナで１度だけ2020年のみ開催見合わせ）
/       | 伊勢湾カップは40回の大会をもって幕引きとなります。
/     p
/       | 伊勢湾カップの総合優勝された選手の名前がカップにその名を刻んできて、プロの選手からオリンピック日本代表選手、また国体で複数回優勝している選手など40年間のウインドの歴史の中でこの大会が多くの選手によって支えられ、またこの本大会に出場するための予選大会を開催して下さった日本全国の大会オーガナイザーのご支援の賜物と改めて感謝するところです。
/     p
/       | また伊勢湾カップを開催するにあたり、なんといっても地元知多市をはじめ、一般社団法人知多市観光協会、愛知県、またいつも新舞子でセーリングしている一般セーラーの方々に心からお礼を申し上げるとともに、この40回の開催をバックヤードから支えてくださった、ウインドサーフィンの関係メーカー、そして地元の方々すべての関係の方々に改めて御礼申し上げます。41年間ありがとうございました。
/     .kaicho
/       .first.column
/       .second.column
/         p.mb-0
/           | 令和5年8月6日
/         p.mb-0
/           / | 伊勢湾カップ大会会長 神谷 至
/           | 大会会長　神谷　至
/         p.medium.text
/           | 伊勢湾カップ 知多フリート運営スタッフ一同
/
/ .ui.container
/   #about.pt-68
/   .ui.aligned.grid
/     .left.floated.left.aligned.ten.wide.column
/       .ui
/         h2.ui.h2.yellow.header
/           | 第40回 伊勢湾カップ 2023 最終成績
/         / = image_tag "result.webp", class: "ui rounded yellow bordered fluid image", style: "border-image: linear-gradient(to right, #c21500 0%, #ffc500 100%); border-image-slice: 1;"
/         = image_tag "result.webp", class: "ui rounded yellow bordered fluid image", style: "border-width: 7px; border-image: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%); border-image-slice: 1;"
/
/   br
/   .ui.grid
/     .eight.wide.column
/       = image_tag "cup.webp", class: "ui rounded bordered medium image"
/     .eight.wide.column
/       p
/         | 栄光の優勝カップ
/       p
/         small
/           | (他の写真は後日掲載致しますので、暫くお待ちください。)
/
/
/ .ui.container
/   #about.pt-68
/   .ui.aligned.grid
/     .left.floated.left.aligned.ten.wide.column
/       .ui
/         h2.ui.h2.yellow.header
/           | ４０年の伊勢湾カップ
/
/   .ui.yellow.segment.mb-0
/     p.lead.text.mb-0
/       |【発足】
/     p
/       | 　伊勢湾カップは昭和５８年（1983年）に競技に対する考え方と、その運営方法に賛同した知多フリートとして集まったメンバーを中心として始まった。
/     p
/       | 　アメリカから入ってきた新しいマリンスポーツとして、ウインドサーフィンが爆発的な人気を博していた。そのスポーツの遊び方は、フリーセーリングとして楽しみでセーリングする方法もあれば、片やヨットレースのように海面にブイを設置し、参加選手がヨットレースルールに基づいて帆走する方法もあった。手軽にできるセーリング競技スポーツとして、ウィンドサーフィンを楽しむ人が増え、知多半島を中心とする各浜（ビーチ）においても、草レースが盛んに行われていた。
/     p
/       | 　当時、新舞子には名古屋鉄道株式会社（名鉄）の関連施設（舞子館）があり、ウィンドサーフィンを楽しむ愛好家たちのグループである「知多フリート」が、舞子館の一階駐車場をボード置き場（艇庫）として利用・活動していた。
/
/       .ui.accordion
/         .title
/           i.dropdown.icon
/           span.ui.blue.text
/             | 続きを読む
/         .content
/           p
/             | 　知多フリートメンバーは、他の地区で行われるレースにおいて、様々な疑問点を持っていた。例えば「風が吹いてきているにもかかわらず、マーク設定に時間がかかり、スタート時には風が弱くなってしまった」、「ほとんど風がないにも関わらず、無理にレースを行おうとした」、「レース当日に風が吹くか吹かないかは、自然現象なので仕方がないが、吹かない日であっても、その一日の中で、最も良い条件の時を逃さないレースが何故できないのか」などなどである。
/           p
/             | 　「梅雨明け十日は晴れが続く」との格言・言い伝えがある。「８月の第一週は、まず梅雨は明けているであろう」、「太平洋高気圧の圏内に入り、台風接近のリスクも９月より断然少ないであろう」、「午後になるに従って風が上がってくることがほぼ確約されるような場所はどこであろうか」と思案、新舞子の夏は、「晴れれば必ず風が徐々に上がってきて、ウインドサーフィンにちょうど良い風速になる。ここで大会を開催すれば、選手の皆が満足するレースが行えるのではないか」と結論を得た。
/           p
/             | 　そして、名鉄よりマリンスポーツ発展のための支援や、各社・各団体よりの協賛、協力を得ながら、知多フリート時代に行っていた草レースを「伊勢湾カップ」として大会を企画、運営することとなった。これが「伊勢湾カップ」の始まりである。
/
/           p.lead.text.mb-0
/             | 【発展】
/           p
/             | 　晴れた夏の伊勢湾は、暖められた名古屋地区の大気が上昇気流となり１１時ごろから海風が吹き出す。そして、その風速は徐々に強くなり、最大では毎秒七～八メートルになる。これはウインドサーファーにとって絶好の風であり、徐々に強くなる風の中で帆走できることが、最も楽しいことである。
/           p
/             | 　さらに地理的に日本の中心地であることや、大会運営メンバーのチームワーク・連携の良い素早くフェアな運営方針などと相まって、参加選手がますます増えていった。そのため全国各地のレースを予選会としてもらい、出場選手を絞って開催するようになり、
/             span.ui.lead.yellow.text
/               | 「大いなる草レース」
/             | として伊勢湾カップの栄耀は輝くこととなった。
/           p
/             | 　そんな折、ウィンドサーフィンのメーカーや近隣ショップから大会の実施カテゴリ−（開催方法）に対して、自社のボードやセールなどがより多く販売できるような働きかけがあった。しかし、伊勢湾カップは「その大会に参加する選手に公平で、フェアなレースを貫く」という元来の考え方を貫きとおしたことが奏功し、新舞子での伊勢湾カップの開催主体が、スポーツマンシップに則ったフェアプレイの精神を体現した知多フリートのメンバーであることが確認・信認され、全国の選手からも賛同を得ることができ、ますますその人気は高まっていった。
/           p
/             | 　その後、名鉄がマリンスポーツ事業から撤退してからも、地元知多市や知多市観光協会の多大なご協力とご支援のもと、全国の選手ならびに予選大会オーガナイザーの賛同を得て、ボードの流行やメーカーの栄枯盛衰に応じて少しずつレギュレーションを変化させつつ、綺羅びやかな派手さに走るのではなく、質実剛健に参加者全てに公平誠実な良いレースを目指して、毎年の開催を続けてきた。
/
/           p.lead.text.mb-0
/             | 【感謝】
/           p
/             | 　現在もこのポリシーは貫かれ、「伊勢湾カップ」は本年で４０回の「記念大会」を迎えることとなった。大会はほぼ手作りで行われており、新舞子の陸側（駐車場や砂浜）や海の状況（例えばマリンパークなど）ができ、徐々に変わってきている今日この頃、大会を続けてゆくことが年々難しくなってきている中で、多くの選手が、この午後吹き上がる新舞子の風「シーブリーズ」を求めて、お越しくださることに、ただただ感謝の気持ちで一杯です。
/           p
/             | 　４０回記念大会が、選手の皆さんが最高のパフォーマンスを発揮できる思い出に残る素晴らしい大会となるよう、実行委員会一同、準備を進めております。新舞子の碧い海で皆様にお目にかかれること、楽しみに致しております。
/
/           .ui.right.aligned.container
/             p.mb-0
/               | 令和五年６月吉日
/             p
/               | 伊勢湾カップ実行委員会
/
/ / css:
/ /   .column2 {
/ /     @media (width <= 480px) {
/ /       column-count: 1;
/ /     }
/ /     @media (width > 480px) {
/ /       column-count: 2;
/ /     }
/ /   }
/
/
/ .ui.container
/   #about.pt-68
/   .ui.aligned.grid
/     .left.floated.left.aligned.ten.wide.column
/       .ui
/         h2.ui.h2.yellow.header
/           | 大会実行委員長の神谷 至さんって、こんな方。
/
/       .ui.yellow.segment.mb-0
/         p.sublead.text.mb-0
/           | 有終の美を飾る伊勢湾カップ2023。その大会実行委員長である神谷 至さんへインタビューを致しました。以下、短いながらご紹介記事です。
/         .ui.segment
/           = image_tag "prize.webp", alt: "第一回伊勢湾カップ参加賞", class: "ui medium right floated image"
/           p
/             | 　神谷至さんは、あの伝説の「知多フリート」創立メンバーです。古稀を目前にした現在もなお、新舞子海岸で愛するロングボード(イムコ)で、春夏秋冬、毎週セーリングを楽しんでいるそうです。
/           p
/             | 　ウィンドサーフィンとの出会いは1975年とのこと。試乗してすぐにウィンドサーフィンの魅力に引き込まれ、翌年にはウインドサーファーを購入(No17435)されたそうです。198,000円だったと仰いましたが、大卒初任給が十万円を切るような時代、とても高級な遊具であったことは間違いありません。それでも欲しくて一生懸命頑張ったんだよ、と語った笑顔が忘れられません。ああ人間夢の為に生きるんだなと、なにか熱いものが込み上げてきました。
/           p
/             | 　そして、その大枚を叩いて購入したウィンドサーフィンです。神谷さんは毎日毎日練習し、その伎倆をめきめきと上げていかれます。中部選手権や伊勢湾カップなど数多くの大会に出場、優勝や入賞など数々の素晴らしい成績を納めていらっしゃいます。その輝かしい戦歴の一部を以下に。
/           ul
/             li
/               | 中部選手権シリーズ多数(数年)参加(入賞数回2位1回他)
/             li
/               | 1979, 1980, 1983年 全日本選手権(沖縄)参加(中部地区代表)
/             li
/               | 1980年名鉄知多新線開通記念大会(内海)優勝
/             li
/               | 1980年全日本選手権大会参加スナップ
/             li
/               | 1981年世界選手権(沖縄)大会のパンフレット裏表紙の写真に採用(No153986)
/             li
/               | ナゴヤチャレンジカップ(名古屋港)多数参加(マスターズクラス1位1回 2位3回 3位2回)
/             li
/               | 1983年伊勢湾カップ第1回以降多数参加
/             li
/               | 2010年伊勢湾カップIMCクラス男子1位
/             li
/               | 2011年伊勢湾カップセレクション3位
/
/           p
/             | 　写真は、今となってはとても貴重な第一回の伊勢湾カップに出場された際の参加賞です。思い出の品として、大切に保管されているとのことでした。
/           p
/             | 　また、知多の綺麗な海を持続する為には山の環境整備・啓蒙活動が必要と考え、森林インストラクターの資格を取得されたとのこと。現在も森と木のクリエーター・専門士(森林文化系専門課程)として活動されています(岐阜県立森林文化アカデミークリエーター科2011年3月卒業)。また、あいち森林インストラクター会活動(なごや環境大学他)へご参加されたり、ウォーキングガイドとしても活動されているそうです。
/           p
/             | 　そんな、素敵なお話が尽きない神谷さんですが、ウィンドサーフィンの歴史と発展について研究した素晴らしい論文があるよ、と紹介していただきました。著者の平野貴也さんは、順天堂大学で博士の学位を取得、現在は沖縄にある名桜大学教授として、教鞭をとっておられます。若かりし頃は、この新舞子の海で、ウィンドサーフィンの練習に励み、伊勢湾カップにも数多く出場された方とのことでした。是非、ご一読下さい。
/
/         / .ui.container
/         /   #about.pt-68
/         /   .ui.aligned.grid
/         /     .left.floated.left.aligned.ten.wide.column
/               / .ui
/               /   h2.ui.h2.blue.header
/               /     = link_to "日本におけるウインドサーフィンの歴史と発展", "https://www.jstage.jst.go.jp/article/jjls/14/2/14_1/_pdf/-char/en"
/
/         .ui.yellow.segment.mb-0
/           = render "history"
/
/
/ .ui.container
/   #about.pt-68
/   .ui.aligned.grid
/     .left.floated.left.aligned.ten.wide.column
/       .ui
/         h2.ui.h2.header
/           | 伊勢湾カップとは
/
/   .ui.blue.segment.mb-0
/     = markdown("　伊勢湾カップとは、毎年夏に愛知県知多市新舞子海岸沖で行われる国内有数のウィンドサーフィンの祭典です。<br>　新舞子特有の徐々に強さを増してくるシーブリーズの中、レースを楽しみたいとの思いを共に抱く有志が集まり、昭和58年より始まりました。<br>　伊勢湾DIVやテクノクラス、ウィンドサーファークラスなどを中心に、小中学生からシニア・マスタークラスまで、プロアマ年齢性別を問わずをモットーに、純粋にレースを楽しみたい多くの選手が全国各地から集い、その技を競います。<br>　本年は第40回記念大会として、往年の名艇をお持ちの方にも出場していただけるよう、セールエリア8.0㎡以下、ボード自由のオープンクラスを設ける予定です。新舞子のシーブリーズに抱かれ、歴史と伝統ある大いなる草レースにご参加下さい。")
/
/
/
/   = render 'award'
/   = render 'gallery'
