- if @regional_events.present?
  .container
    .row
      .col-lg-12.text-center
        - if @regional_locals[:section] == "regional"
          h2.text-primary = @regional_locals[:h1]
        - else
          h1.text-primary = @regional_locals[:h1]
          h2.text-primary = @regional_locals[:h2]
        hr

  .container
    .row
      .col-12
        .table-responsive
          table.table.table-xs.table-striped.table-hover.table-bordered
            thead
              tr
                th 開催日
                th レース名(場所)
                th 問い合わせ先
            tbody
              - EventPresenter.build(@regional_events, self) do |event|
                = event.table_row(area_display: true)

- if admin_user?
  .container
    .row
      .col-12
        .text-right
          => link_to "#{@regional_locals[:h1]} #{@regional_locals[:h2]} 編輯", ( url_for controller: @regional_locals[:section].pluralize, action: :edit), class: 'btn btn-primary btn-sm'
