javascript:
  $(function(){
    $('#navbar').removeClass('transparent');

    $('.custom-file-input').on('change', function(){
      var size_in_megabytes = this.files[0].size / 1024 / 1024;
      if (size_in_megabytes > 5) {
        alert('5MB以下のファイルを選んで下さい');
      }
    });
  });

section.alone_site
  .container
    .row
      .offset-1.col-10.clearfix
        h1.text-center.text-primary = @locals[:h1]
        h2.text-center.text-primary = @locals[:h2]
        hr

    .row
      .col-12
        .table-responsive.mx-auto style="width: 95%;"
          table.table.table-xs.table-striped.table-hover.table-bordered.center
            - @events.each do |event|
              tr
                / = bootstrap_nested_form_for(event, url: event_path(event), html: { multipart: true }) do |f|
                = bootstrap_form_with(model: event, url: event_path(event), html: { multipart: true }) do |f|
                  - if controller.controller_name == "preliminaries"
                    td style="width: 5%;"
                      - p = FormPresenter.new(f, self)
                      = p.drop_down_list_block(:area, '開催地')
                  td style="width: 13%;"
                    - p = FormPresenter.new(f, self)
                    = p.date_field_block(:start_date, '大会開始日')
                    = p.date_field_block(:end_date,   '大会終了日')
                    = p.schedule_adjustment_block
                  td style="width: 37%;"
                    = p.text_field_block(:name, '大会名')
                    = p.text_field_block(:place, '場所名')
                    = f.fields_for :s3files, html: { multipart: true } do |ff|
                      - q = FormPresenter.new(ff, self)
                      = q.text_field_block(:title, 'レース公示、結果(リザルト)等 添付ファイルの説明')
                      - uploaded_file_name = event&.s3files[0]&.file_name
                      = q.upload_file_block(uploaded_file_name: uploaded_file_name)
                  td style="width: 37%;"
                    = p.text_field_block(:contact, '問い合わせ先')
                    = p.text_field_block(:phone, '電話番号')
                    = p.text_field_block(:url, 'URL')
                    = p.text_field_block(:email, 'e-mail')
                  td style="width: 7%;"
                    - p = FormPresenter.new(f, self)
                    / = f.check_box :display, label: '表示する'
                    / = f.check_box :display
                    = p.display_check_box(id: event.id)
                    = p.update_button
                    br
                    = EventPresenter.new(event, self).delete_button
                    = EventPresenter.new(event, self).delete_attached_file_button
    hr

    / = bootstrap_nested_form_for(@event, html: { multipart: true }) do |f|

    .row
      .col-12
        .table-responsive.mx-auto style="width: 95%;"
          table.table.table-xs.table-striped.table-hover.table-bordered
            tr
              = bootstrap_form_with(model: @event, html: { multipart: true }) do |f|
                - if controller.controller_name == "preliminaries"
                  td style="width: 5%;"
                    - p = FormPresenter.new(f, self)
                    = p.drop_down_list_block(:area, '開催地')
                td style="width: 13%;"
                  - p = FormPresenter.new(f, self)
                  = p.date_field_block(:start_date, '大会開始日')
                  = p.date_field_block(:end_date,   '大会終了日')
                  = p.schedule_adjustment_block
                td style="width: 37%;"
                  = p.text_field_block(:name, '大会名')
                  = p.text_field_block(:place, '場所名')
                  = f.fields_for :s3files, html: { multipart: true } do |ff|
                    - q = FormPresenter.new(ff, self)
                    = q.text_field_block(:title, 'レース公示、結果(リザルト)等 添付ファイルの説明')
                    = q.upload_file_block
                td style="width: 37%;"
                  = p.text_field_block(:contact, '問い合わせ先')
                  = p.text_field_block(:phone, '電話番号')
                  = p.text_field_block(:url, 'URL')
                  = p.text_field_block(:email, 'e-mail')
                td style="width: 7%;"
                  - p = FormPresenter.new(f, self)
                  = f.check_box :display, label: '表示', checked: true
                  = p.append_button

      .col-12
        hr
        .text-right
          - p = EventPresenter.new(@event, self)
          = p.finish_edit_event_link_button('編輯を終える')
