= form_for @seed do |f|
  - if @seed.errors.any?
    #error_explanation
      h2 = "#{pluralize(@seed.errors.count, "error")} prohibited this seed from being saved:"
      ul
        - @seed.errors.full_messages.each do |message|
          li = message

  .actions = f.submit
