javascript:
  $(function(){
    $('#navbar').removeClass('transparent');

    $(".searchable").select2({
      // width:      185,   //  横幅
      allowClear: false  //  Clear x を表示しない
    });
  });



scss:
  textarea {
    height: 8em;
  }

section.alone_site
  .container
    .row
      .col-12
        h1.text-center.text-primary
          | シード選手 編輯
      br
    .row
      .col-12
        - @seeds.each_with_index do |seed, i|
          = form_with(model: seed, url: seed_path(seed)) do |f|
            .form-group.row
              = label_tag "", "開催年", class: "col-sm-2 col-form-label text-right "
              .col-sm-10
                = f.text_field :year, class: "form-control col-sm-2 text-center", placeholder: "西暦"
              = label_tag "", "ご案内", class: "col-sm-2 col-form-label text-right "
              .col-sm-10
                = f.text_area :article, class: "form-control col-sm-12 text-left", placeholder: "シード選手発表に関する、ご案内いろいろ"
            .form-group.row
              = label_tag "", "伊勢湾DIV<br>シード選手".html_safe, class: "col-sm-2 col-form-label text-right "
              .col-sm-10
                = f.text_area :isewan_seeds, class: "form-control col-sm-12 text-left", placeholder: "伊勢湾 シード選手"
              .col-sm-8.form-inline
                .col-sm-3
                = label_tag "", "男", class: "col-sm-2 col-form-label text-right"
                = f.text_field :isewan_male, class: "form-control col-sm-2 text-center", placeholder: ""
                span  人
                = label_tag "", "女", class: "col-sm-2 col-form-label text-right"
                = f.text_field :isewan_female, class: "form-control col-sm-2 text-center", placeholder: ""
                span  人
                .col-sm-5
            .form-group.row
              = label_tag "", "テクノDIV<br>シード選手".html_safe, class: "col-sm-2 col-form-label text-right "
              .col-sm-10
                = f.text_area :techno_seeds, class: "form-control col-sm-12 text-left", placeholder: "伊勢湾 シード選手"
              .col-sm-8.form-inline
                .col-sm-3
                = label_tag "", "男", class: "col-sm-2 col-form-label text-right"
                = f.text_field :techno_male, class: "form-control col-sm-2 text-center", placeholder: ""
                span  人
                = label_tag "", "女", class: "col-sm-2 col-form-label text-right"
                = f.text_field :techno_female, class: "form-control col-sm-2 text-center", placeholder: ""
                span  人
              .text-right
                => f.submit "更新", class: 'btn btn-sm btn-success'
                => link_to "削除", seed_path(seed, controller.controller_name.singularize), method: :delete, data: { confirm: '本当に削除しますか' }, class: "btn btn-danger btn-sm"
            .text-right
              => f.submit "追加", class: 'btn btn-sm btn-success'
            br
            .text-right
              = link_to 'シード選手 の編輯を終える', "#{root_path}#seed", class: 'btn btn-primary btn-sm'
