javascript:
  $(function(){
    $('#navbar').removeClass('transparent');
  });

section.alone_site
  .container
    .row
      .col-12
        / h2.text-center.text-primary = "第#{@seed.year-1982}回 伊勢湾カップ #{@seed.year}"
        h2.text-center.text-primary = isewan_title(@seed.year)
        h2.text-center.text-primary = "シード選手 発表"
        hr
    .row
      .col-12
        = markdown(@seed.article)

    .row
      .col-12
        p.small.text-right
          | ※ 表の項目名をクリックすると並び替えできます。

  .container-fluid
    .row
      .col-sm-12.col-md-6
        .table-responsive
          table.seeds_list.table.table-sm.table-striped.table-hover.table-bordered
            caption.center
              | 伊勢湾ＤＩＶ
            caption.right
              small
                = "(男子#{@seed.isewan_male}名、女子#{@seed.isewan_female}名)"
            thead
              tr
                th 氏　名
                th 所　属
            tbody
              - seeds = @seed.isewan_seeds.split("\r\n")
              - seeds&.each do |line|
                - line = line.split("\t")
                tr
                  td = line[0]
                  td = line[1]
          p.small.text-right
            | (敬称略)
            
      .col-sm-12.col-md-6
        .table-responsive
          table.seeds_list.table.table-sm.table-striped.table-hover.table-bordered
            caption.center
              | テクノＤＩＶ
            caption.right
              small
                = "(男子#{@seed.techno_male}名、女子#{@seed.techno_female}名)"
            thead
              tr
                th 氏　名
                th 所　属
            tbody
              - seeds = @seed.techno_seeds.split("\r\n")
              - seeds&.each do |line|
                - line = line.split("\t")
                tr
                  td = line[0]
                  td = line[1]
          p.small.text-right
            | (敬称略)
