javascript:
  $(function(){
    $('#navbar').removeClass('transparent');

    $('#append_times').on('change', function(){
      times = $('#append_times').val();
      $('#append_year').val(1982 + parseInt(times, 10));
    });
  });

css:
  td {
    vertical-align: top;
  }
  .form-group {
    margin-bottom: 0;
  }
  .form-control {
    padding: .25rem .25rem;
    border-radius: 4px;
  }
  input[readonly="readonly"] {
    background-color: #eee;
  }
  #append_year {
    background-color: #eee;
  }

section.alone_site
  .container
    .row
      .offset-1.col-10.clearfix
        h2.text-center.text-primary 歴代優勝者 編輯
        hr
        p
          | 第1回 1983年(昭和58年)大会からの歴代優勝者の一覧です。


    .row
      .col-12
        .table-responsive.mx-auto style="width: 95%;"
          table.table.table-xs.table-striped.table-hover.table-bordered.center
            thead
              tr
                th 回
                th 年
                th 伊勢湾DIV
                th テクノDIV
                th
            tbody
              - @winners.each_with_index do |winner, i|
                tr
                  = bootstrap_form_for(winner, url: winner_path(winner)) do |f|
                    td
                      = f.text_field :times, class: "text-center", placeholder: "回数", skip_label: true
                    td
                      = text_field_tag :year, {}, class: "text-center", value: winner.times.to_i + 1982, readonly: true
                    td
                      = f.text_field :isewan_name, class: "text-center", placeholder: "", skip_label: true
                    td
                      = f.text_field :techno_name, class: "text-center", placeholder: "", skip_label: true
                    td style="width: 12%;"
                      => link_to "削除", winner_path(winner), method: :delete, data: { confirm: '本当に削除しますか' }, class: "btn btn-danger btn-sm"
                      => f.submit "更新", class: 'btn btn-sm btn-success'

    .row
      .col-12
        .table-responsive.mx-auto style="width: 95%;"
          table.table.table-xs.table-striped.table-hover.table-bordered.center
            thead
              tr
                th 回
                th 年
                th 伊勢湾DIV
                th テクノDIV
            tbody
              tr
                = bootstrap_form_for(@winner) do |f|
                  td
                    = f.text_field :times, class: "text-center", id: "append_times", placeholder: "回数", skip_label: true
                  td
                    = text_field_tag :year, {}, class: "text-center", id: "append_year", value: @winner.times + 1982, readonly: true
                  td
                    = f.text_field :isewan_name, placeholder: "", skip_label: true
                  td
                    = f.text_field :techno_name, placeholder: "", skip_label: true
                  td style="width: 12%;"
                    = f.submit "追加", class: 'btn btn-sm btn-primary'

    .row
      .col-12
        .text-right
          = link_to '歴代優勝者 の編輯を終える', winners_path, class: 'btn btn-primary btn-sm'
