javascript:
  $(function(){
    $('#navbar').removeClass('transparent');
  });

section.alone_site
  .container
    .row
      .offset-1.col-10.clearfix
        h2.text-center.text-primary 歴代優勝者
        hr
        p
          | 第1回 1983年(昭和58年)大会からの歴代優勝者の一覧です。
    .row
      .col-12
        .table-responsive
          table#winner_list.table.table-sm.table-striped.table-hover
            thead
              tr
                th 回
                th 年
                th 伊勢湾DIV
                th テクノDIV
            tbody
              - @winners.each do |winner|
                tr
                  td = winner.times
                  td = winner.times + 1982
                  td = winner.isewan_name
                  td = winner.techno_name

          p.small.text-right
            | (敬称略)
    .row
      .col-12
        .text-right
          = link_to '歴代優勝者 編輯', edit_winner_path(1), class: 'btn btn-primary btn-sm'
