javascript:
  $(function(){
    $('#navbar').removeClass('transparent');

    $('.custom-file-input').on('change', function(){
      var size_in_megabytes = this.files[0].size / 1024 / 1024;
      if (size_in_megabytes > 5) {
        alert('5MB以下のファイルを選んで下さい');
      }
    });
  });

section.alone_site
  .container
    .row
      .offset-1.col-10.clearfix
        h1.text-center.text-primary PDF一覧
        hr

    .row
      .col-12
        .table-responsive.mx-auto style="width: 95%;"
          table.table.table-xs.table-striped.table-hover.table-bordered.center
            - @pdfs.each do |pdf|
              tr
                = bootstrap_nested_form_for(pdf, url: pdf_path(pdf), html: { multipart: true }) do |f|
                  td style="width: 5%;"
                    = pdf.id
                  td
                    = f.fields_for :s3files, html: { multipart: true } do |ff|
                      - q = FormPresenter.new(ff, self)
                      / = q.text_field_block(:title, 'レース公示、結果(リザルト)等 添付ファイルの説明')
                      - uploaded_file_name = pdf&.file_name
                      = q.upload_file_block(uploaded_file_name: uploaded_file_name)
                  td style="width: 5%;"
                    / - p = FormPresenter.new(f, self)
                    / = p.update_button
                    = link_to '見る', viewer_path(pdf.id), class: 'btn btn-sm btn-success'
                    / = FormPresenter.new(pdf, self).delete_link_button(pdf)
    hr

    .row
      .col-12
        .table-responsive.mx-auto style="width: 95%;"
          table.table.table-xs.table-striped.table-hover.table-bordered
            tr
            = bootstrap_nested_form_for(S3file.new, url: pdfs_path, method: :post, html: { multipart: true }) do |f|
              td style="width: 5%;"
              td
                = f.fields_for :s3files, html: { multipart: true } do |ff|
                  - q = FormPresenter.new(ff, self)
                  = q.upload_file_block
              td style="width: 5%;"
                - p = FormPresenter.new(f, self)
                = p.append_button

      .col-12
        hr
        .text-right
          = link_to '編輯を終える', root_path, class: 'btn btn-primary btn-sm'
