javascript:
  $(function(){
    $('#navbar').removeClass('transparent');
  });

section.alone_site
  .container
    .row
      .col-12
        h2.text-center.text-primary = "ウィンドサーファークラス 復活！"
        hr.mb-4

  .container
    .row
      .col-12

        h3
          | ウィンドサーファークラス
        p.lead.ml-3
          | 本年伊勢湾カップに伝統的な艇種「
          em ウインドサーファークラス
          | 」が復活いたします。
          br
          | 近年、OBを中心に世界各地で、WSの元祖ともいわれる､ウィンドサーファー艇が再び人気がでてきており、伊勢湾カップでも第1回大会からはウィンドサーファーデザインで行っていました。
          br
          | その艇種が仲間入りすることになり、伊勢湾カップの伝統でもある全クラス同一スタートで行う予定です。

        h3.mt-4
          | エントリー方法
        p.lead.ml-3
          | エントリー希望者は、全国のどこかの予選大会に出場していることを原則としますが、シーズン途中での発表でもあるので、特別に実行委員会推薦枠を設けます。
          br
          | エントリー用紙の取得は、ウインドサーファークラス専用のものがありますので、実行委員会または、ウインドサーフィンジャパン社 三木秀樹様のところにメールで申し込んでください。
          | PDFにしたNORと申込用紙を送付いたします。
          br
          | ただし、エントリー受付は他のクラス同様なので、所定の様式に従って、早く申し込まないと締め切りとなってしまうことがありますので、よろしくご理解ください。
        p.text-right
          | 伊勢湾カップ実行委員会
