section.alone_site
  .container
    .row
      .col-12
        h1 = "#{@type}ギャラリー 編輯"
        / 第35回 伊勢湾カップ 2017
        / 選手宣誓
        / 競技風景
        / 競技風景
        / 第35回 伊勢湾カップ 2017 表彰式・閉会式
        / 集合写真

    .row.d-flex.flex-row.ranked-sortable-x
      - @galleries&.each do |gallery|
        .col-2.p-2.border.border-primary.card.item(data = { model_name: gallery.class.name.underscore,
                         update_url: gallery_sort_path(gallery) })
          = form_with(model: gallery) do |f|
            = image_tag gallery.picture.url if gallery.picture?
            = f.text_area :caption, size: "20x2", class: 'form-control'
            .form-group
              .text-right.pr-2
                - p = FormPresenter.new(f, self)
                = p.display_check_box(id: gallery.id)
              .text-center
                => link_to "削除する", gallery, method: :delete, data: { confirm: '本当に削除しますか' }, class: "btn btn-danger btn-sm"
                => f.submit class: 'btn btn-sm btn-success'

    .row.pt-5
      .col-4.p-2.border.border-primary.card
        = form_with(model: @gallery, html: { multipart: true }) do |f|
          - p = FormPresenter.new(f, self)
          = p.upload_file_block(accept: :image)
          - if @type == "動画"
            = f.text_field :url, placeholder: "動画(vimeo)のURL", class: 'form-control'
          = p.text_area :caption, size: "20x2", placeholder: "説明文", class: 'form-control'
          .text-right.pt-2
            = p.append_button(text: '追加する')

    br
    .row
      .col-12
        ul
          li = "#{@type}をクリックしたまま、左右にスライドさせると、順番の変更ができます。"
          li = "#{@type}を変更したい時は、一旦削除してから、追加してください。"
          li = "表示したくない#{@type}は、「表示する」のチェックを外すか、削除してください。"

    hr
    h3.m-4
      = "#{@type == "写真" ? "Googleフォト" : "他の動画"} へのリンク"

    .row.ranked-sortable-y
      - @links&.each do |link|
        .col-11.p-1.ml-5.mr-5.border.border-primary.card.item(data = { model_name: link.class.name.underscore, update_url: external_link_sort_path(link) })
          = form_with(model: link) do |f|
            - p = FormPresenter.new(f, self)
            = p.link_field_block
    .row.mt-4
      .col-11.p-1.ml-5.mr-5.border.border-primary.card
        = form_with(model: @link) do |f|
          - p = FormPresenter.new(f, self)
          = p.append_link_field_block

    .row
      .col-12
        ul.mt-3
          li 枠をクリックしたまま、上下にスライドさせると、順番の変更ができます。
          li 表示したくないリンクは、削除してください。

    hr
    .row
      .col-12
        .text-right
          = link_to "#{@type}ギャラリーの編輯を終える", "#{root_path}#gallery", class: 'btn btn-primary btn-sm'

javascript:
  $(function(){
    $('#upload_file').on('change', function(){
      var size_in_megabytes = this.files[0].size / 1024 / 1024;
      if (size_in_megabytes > 5) {
        alert('5MBより小さい画像をアップして下さい');
      }
    });
  });
