/////////////////// 色 ////////////////////////
$rails-red:         #AA2B34;
$sora-iro:          #A0D8EF;
$ruri-iro:          #1E50A2;
$hisui-iro:         #38B48B;
$shinju-iro:        #FFFFF1;
$sakura-iro:        #fef4f4;
$wakame-iro:        #e0ebaf;
$wakana-iro:        #d8e698;
$nanohana-iro:      #ffec47;
$tokiwa-midori:     #007b43;
$murasaki-suisho:   #e7e7eb; // 紫水晶むらさきすいしょう
$kasumi-iro:        #c8c2c6; // 霞色かすみいろ
$geppaku-iro:       #eaf4fc; // 月白げっぱく
$kompeki-iro:       #007bbb; // 紺碧
$ama-iro:           #2ca9e1; // 天色
$sango-iro:         #f5b1aa; // 珊瑚色
$kuromidori:        #333631; // 黒緑
$kinaka:            #ea5506; // 金赤

$gray-medium-light: #eaeaea;
$gray-light       : #999;
$gray-lighter     : #ccc;

$gold             : #E6B422;
$silver           : #A0A0A0;
$bronze           : #8C4841;

@media(max-width:767px) {
  /* 992px以下の記述 */
  .navbar-nav {
    background: $kompeki-iro;
    // padding: 0 10px;
  }
  .nav-item {
    // font-size: 1.25rem;
    // padding-bottom: 1rem;
    .page-scroll {
      color: #007bbb;
      text-shadow: 1px 1px 2px $tokiwa-midori;
    }
  }
}

/////////////////// 基本的な設定 ////////////////////////
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

*, :after, :before {
  box-sizing: border-box
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

header {
  display: block;
}

.card img {
  page-break-inside: avoid;
  border: 0;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

/////////////////// mixin ////////////////////////
@mixin name_style($text-align: left) {
  text-align:     $text-align; // 既定値は左揃え
  white-space:    nowrap;
  letter-spacing: 5px;
  text-shadow:    1px 1px $silver;
}

/////////////////// いろいろ ////////////////////////
hr {
  height: 1px;
  background-color: $kompeki-iro;
}

// http://coliss.com/articles/build-websites/operation/css/css-simple-styles-for-horizontal-rules-by-css-tricks.html
hr.emboss-style {
    border: 0;
    height: 0;
    background-color: transparent;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

html {
  font-size: 14px;
}
body {
  background-color: $geppaku-iro;
}

section.alone_site {
  // ナビバーの部分＋α 下にずらす
  margin-top: 100px;
}


/////////////////// bootstrap 調整 (table) ////////////////////////
th,
td {
  vertical-align: middle;
  text-align:     center;
}

// 歴代優勝者
table#winner_list td {
  &:nth-child(n + 3) {
    @include name_style(center);
  }
}

// 未開催のイベント
tr.non-holding {
  font-size: larger;
  font-weight: bold;
}

// 成績
table.score_list {
  border: 3px double $ruri-iro;

  th {
    &:nth-child( 1) { border-right: 1px solid $ruri-iro; }        // 順位
    &:nth-child( 3) { border-right: 1px solid $ruri-iro; }        // 伊勢湾女子
    &:nth-child( 5) { border-right: 1px solid $ruri-iro; }        // テクノ女子

    // &:nth-child( 8) { text-align:     center; }  // ★, ▼などの区分
    // &:nth-child( 9) { text-align:     left; }    // 所属
    // &:nth-child(10) { text-align:     center; }  // 男女
    // &:nth-child(11) { text-align:     center; }  // 出場クラス

    &:nth-child(11) { border-right: 1px solid $ruri-iro; }        // 1R
    &:nth-child(13) { border-right: 1px solid $ruri-iro; }        // 2R
    &:nth-child(15) { border-right: 1px solid $ruri-iro; }        // 3R
    &:nth-child(17) { border-right: 1px solid $ruri-iro; }        // 4R
    &:nth-child(19) { border-right: 1px solid $ruri-iro; }        // 5R
    &:nth-child(21) { border-right: 1px solid $ruri-iro; }        // 6R
    &:nth-child(23) { border-right: 1px solid $ruri-iro; }        // 6R
  }

  thead tr:nth-child(2) {
    border-bottom: 3px double $ruri-iro;
  }

  td {
    text-align:     right;
    &:nth-child(7) {
      @include name_style(center);
    }
  }

  td {
    &:nth-child( 1) { border-right: 1px solid $ruri-iro; }        // 順位
    // &:nth-child( 2) { border-right: 1px solid $ama-iro; }  // 伊勢湾総合
    &:nth-child( 3) { border-right: 1px solid $ruri-iro; }        // 伊勢湾女子
    // &:nth-child( 4) { border-right: 1px solid $ama-iro; }  // テクノ総合
    &:nth-child( 5) { border-right: 1px solid $ruri-iro; }        // テクノ女子

    &:nth-child( 8) { text-align:     center; }  // ★, ▼などの区分
    &:nth-child( 9) { text-align:     left; }    // 所属
    &:nth-child(10) { text-align:     center; }  // 男女
    &:nth-child(11) { text-align:     center; }  // 出場クラス

    &:nth-child(11) { border-right: 1px solid $ruri-iro; }        // 1R
    &:nth-child(12) { border-right: 1px solid $sora-iro; }  // 1R
    &:nth-child(13) { border-right: 1px solid $ruri-iro; }        // 2R
    &:nth-child(14) { border-right: 1px solid $sora-iro; }  // 2R
    &:nth-child(15) { border-right: 1px solid $ruri-iro; }        // 3R
    &:nth-child(16) { border-right: 1px solid $sora-iro; }  // 3R
    &:nth-child(17) { border-right: 1px solid $ruri-iro; }        // 4R
    &:nth-child(18) { border-right: 1px solid $sora-iro; }  // 4R
    &:nth-child(19) { border-right: 1px solid $ruri-iro; }        // 5R
    &:nth-child(20) { border-right: 1px solid $sora-iro; }  // 5R
    &:nth-child(21) { border-right: 1px solid $ruri-iro; }        // 6R
    &:nth-child(22) { border-right: 1px solid $sora-iro; }  // 6R
    &:nth-child(23) { border-right: 1px solid $ruri-iro; }        // 6R
  }
}

// シード選手
table.seeds_list td {
  &:nth-child(1) {
    @include name_style(center);
  }
}

// 優勝選手
table.champion td {
  &:nth-child(3) {
    @include name_style(center);
  }
}

// hoverの色
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: $gold;
}

// extra-small
.table-xs th,
.table-xs td {
  padding: 0.15rem;
}

// table caption は上に
caption {
  caption-side: top;
  text-align: center;
  padding-top:    0rem !important;
  padding-bottom: 0rem !important;
  &.left   { text-align: left; }
  &.center { text-align: center; }
  &.right  { text-align: right; }
  &:first-of-type  { padding-top:    0.75rem !important; }
  &:last-of-type   { padding-bottom: 0.75rem !important; }
}

/////////////////// bootstrap 調整 (navbar) ////////////////////////
#navbar {
  background-image: image-url("MIYAKO85_kurimatoukaranoichibou20140725_trim.jpg");  // 夏の海
  border-bottom: 1px solid #3b9ae0;
  &.transparent {
    background-image: none;
    background-color: transparent !important;
    border-bottom: none !important;
  }
  .nav-item {
    font-size: 1.25rem;
    padding-bottom: 1rem;
    .page-scroll {
      color: white;
      text-shadow: 1px 1px 2px $tokiwa-midori;
    }
    &.dropdown.active a {
      background: transparent;
    }
  }
  max-height: 66px;
}

.navbar-nav {
  // margin-top: -1.5rem;
}
.logout {
  margin-top: 0.4em;
}


/* ハンバーガーメニューの並びを横に */
// .navbar-nav {
//   flex-direction: row;
// }

/* dropdown submenu */
// .dropdown-submenu {
//   position: relative;
// }
//
// .dropdown-submenu>.dropdown-menu {
//   top: 0;
//   left: 100%;
//   margin-top: -6px;
//   margin-left: -1px;
//   -webkit-border-radius: 0 6px 6px 6px;
//   -moz-border-radius: 0 6px 6px;
//   border-radius: 0 6px 6px 6px;
// }
//
// .dropdown-submenu:hover>.dropdown-menu {
//   display: block;
//   margin-right: 10em;
// }
//
// .dropdown-submenu>a:after {
//   display: block;
//   content: " ";
//   float: right;
//   width: 0;
//   height: 0;
//   border-color: transparent;
//   border-style: solid;
//   border-width: 5px 0 5px 5px;
//   border-left-color: #ccc;
//   margin-top: 5px;
//   margin-right: -10px;
// }
//
// .dropdown-submenu:hover>a:after {
//   border-left-color: #fff;
// }
//
// .dropdown-submenu.pull-left {
//   float: none;
// }
//
// .dropdown-submenu.pull-left>.dropdown-menu {
//   left: -100%;
//   margin-left: 10px;
//   -webkit-border-radius: 6px 0 6px 6px;
//   -moz-border-radius: 6px 0 6px 6px;
//   border-radius: 6px 0 6px 6px;
// }

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $geppaku-iro;
  text-shadow: 1px 1px $tokiwa-midori;
  /* text-transform: uppercase; */
  text-transform: none; /* 大文字に変換しない */
  letter-spacing: -1px;
  font-weight: bold;
  margin-top: -(66px - 48px) / 2 + 2px;
  &:hover {
    color: $kompeki-iro;
    text-decoration: none;
  }
  text-decoration: none;
}

.btn-transparent {
  background: transparent;
}

.control-label {
  padding-right: 10px;
  width: 135px;
}

.hidden {
  display: none;
}

.nav-tabs {
  margin-bottom: 0;
}

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
  margin: 30px 0;
}

address {
  margin-top: 30px;
}

/////////////////// bootstrap 調整 (typography) ////////////////////////
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  color: $kompeki-iro;
  text-shadow: 1px 1px $ama-iro;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;

  font-size: 1.5 rem;
  letter-spacing: 2px;
  span {
    font-size: 80%;
    letter-spacing: -1px;
    vertical-align: top;
  }
}

h2 {
  color: $kompeki-iro;
  text-shadow: 1px 1px $ama-iro;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;

  font-size: 1.2 rem;
  letter-spacing: 1px;
  span {
    font-size: 90%;
    letter-spacing: -1px;
  }
}

p {
  font-size: 1.1em;
  // line-height: 1.7em;
}

h4.title p {
  margin-bottom: 0;
}
hr.thin {
  border-top: none;
}

/////////////////// bootstrap 調整 (footer) ////////////////////////
footer {
  margin-top: 45px;
  padding-top: 5px;
  color: $kompeki-iro;
  a {
    color: $ruri-iro;
    text-decoration-line: underline;
    &:hover {
      color: $ruri-iro;
    }
  }
  small {
    float: left
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/////////////////// bootstrap 調整 (モーダルの位置調整) ////////////////////////
.modal-dialog {
  padding-top: 30%;
  .modal-content {
    border-radius: 10px;
    .modal-header {
      // 既定値のまま
      display: flex;
      justify-content: space-between;
      padding: 15px;
      border-bottom: 1px solid #eceeef;
      .modal-title {
        margin-right: auto; // タイトルは左寄せに
      }
      .close {
        // 何もしなくても右寄せになる
      }
    }
  }
}

/////////////////// bootstrap 調整 (custom file control) ////////////////////////
.custom-file-control::before {
  content: "写真を選択";
}

/////////////////// bootstrap 調整 (card) ////////////////////////
.card {
  border: none;
  background-color: transparent;
}


/////////////////// lightbox 調整 (tosrus) ////////////////////////
// a, a:link, a:active, a:visited {
//   color: #666;
//   text-decoration: underline;
// }
a:hover {
  color: #000;
}
.gallery {
  margin: 20px -50px;
  align: center;
}
.gallery .photo a img {
  width: 240px;
  // height: 150px;
}
.gallery .movie a img {
  // width: 320px;
  // height: 200px;
  width: 240px;
  // height: 150px;
}
.gallery img {
  // padding: 10px;
}

/////////////////// custom-file-input ////////////////////////
.form-group {
  margin-bottom: 0;
}
.form-control {
  padding: .25rem .25rem;
  border-radius: 4px;
}
.custom-file-control {
  padding: 0.4rem 0.2rem;
}
.custom-file-label-pdf::after {
  content: "PDF選択";
}
.custom-file-label-image::after {
  content: "写真選択";
}
.custom-file-label-excel::after {
  content: "エクセル ファイル 選択";
}

// page_top
.svg-inline--fa.fa-angle-double-up.fa-w-10 {
  color: #fff;
  font-size: 26px;
  margin-top: 10px;
  margin-left: calc((100px - 13px) / 2);
}

#page_top {
  width: 100px;
  height: 60px;
  position: fixed;
  right: 3rem;
  bottom: 60px;
  background: #f08300;
  opacity: 0.6;
  border-radius: 50%;
  a {
    position: relative;
    display: block;
    width: 100px;
    height: 60px;
    text-decoration: none;
    &::before {
      font-family: "Font Awesome 5 Free";
      content: '\f102'; /* 'angle-double-up' */
      font-size: 1rem;
      color: white;
      text-shadow: 2px 2px black;
      position: absolute;
      top: 10px;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      text-align: center;
    }
    &::after {
      content: '先頭に戻る';
      font-size: 1rem;
      color: white;
      text-shadow: 2px 2px black;
      position: absolute;
      top: 30px;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      text-align: center;
    }
  }
}

// IEのために
.photo .card a,
.video .card a {
  height: 100%;
}

/////////////////// debug ////////////////////////
.debug_dump {
  width:            90%;
  margin:           0 5%;
  padding:          2rem;
  border-radius:    1rem;
  background-color: $sakura-iro;
}
