// http://www.bootstrapzero.com/theme/landing-zero/
/* デフォルトの記述 */

$ama-iro:           #2ca9e1; // 天色
$geppaku-iro:       #eaf4fc; // 月白げっぱく

header {
  position: relative;
  min-height: auto;
  text-align: center;
  color: #fff;
  width: 100%;
  background-color: #c9c9c9;
  background-image: image-url('yacht_blur.jpg');
  // background-image: url('yacht_blur.jpg');
  background-position: center;
  background-size: cover;
  .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
    .inner {
      h1 {
        margin: 20px 0px;
      }
      p {
        margin: 20px;
        font-size: 16px;
        font-weight: 300;
        color: rgba(255,255,255,0.7);
      }
    }
  }
}

@media(min-width:768px) {
  /* 768px以上（タブレット以上）の記述 */
  header {
    min-height: 100%;
    .header-content {
      position: absolute;
      // top: 25%;
      top: 40%;
      padding: 0 50px;
      transform: translateY(-50%);
      .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
        h1 {
          font-size: 53px;
          text-shadow: 3px 3px $geppaku-iro;
        }
        h3 {
          margin: 1.5em;
          text-shadow: 2px 1px $ama-iro;
        }
        p {
          margin-right: auto;
          margin-left: auto;
          max-width: 80%;
          font-size: 18px;
        }
      }
    }
  }
}
