section.alone_site
  .container
    .row
      .col-12
        h1 新着情報 編輯
    .row.d-flex.flex-row.ranked-sortable-y
      - @whatsnews.each_with_index do |whatsnew, i|
        .col-12.p-2.border.border-primary.card.item(data = { model_name: :whatsnew,
                       update_url: whatsnews_sort_path(whatsnew) })
          = form_with(model: whatsnew) do |f|
            .row
              .col-lg-3.col-md-3
                = f.text_area :title, rows: 10, class: 'form-control'
              .col-lg-7.col-md-7
                = f.text_area :article, rows: 10, class: 'form-control'
              .col-lg-2.col-md-2
                .form-group
                  = f.label '表示する', class: 'form-inline'
                  = f.check_box :display, id: "check_box_#{i}", class: 'form-control form-inline'
                = f.submit '更新', class: 'btn btn-sm btn-success'

    .row.mt-5
      .col-12.p-2.border.border-primary.card
        = form_with(model: Whatsnew.new, url: whatsnews_index_path) do |f|
          .row
            .col-lg-3.col-md-3
              = f.text_area :title,   row: 10, class: 'form-control'
            .col-lg-7.col-md-7
              = f.text_area :article, row: 10, class: 'form-control'
            .col-lg-2.col-md-2
              = f.hidden_field :display, value: 1
              = f.submit '追加', class: 'btn btn-sm btn-primary'

    .row.mt-5
      .col-12
        .text-right
          = link_to '新着情報の編輯を終える', "#{root_path}#whatsnew", class: 'btn btn-primary btn-sm'

  .container
    .row
      .col-12
        hr
        == render 'shared/markdown_explanation'
