javascript:
  $(function(){
    $('#navbar').removeClass('transparent');
  });

section.alone_site
  .container
    .row
      .col-12.text-center
        h2.text-primary 新着情報
        hr
  .container
    - @lists.each do |whatsnew|
        .row
          .col-lg-3.col-md-3
            h4.title
              = markdown(whatsnew&.title)
            .small.text-right.mt-0
              = whatsnew&.updated_at&.strftime("(%m/%d)")
          .col-lg-9.col-md-9
            = markdown(whatsnew&.article || "")
        hr.thin

    = paginate @lists

    .text-right
      => link_to '戻る', root_path
