footer#footer
  .container-fluid
    .row
      .col-12
        hr.emboss-style
        address
          | 伊勢湾カップ実行委員会
          / br
          / | 　　電　　話: <a href="tel:090-1476-2206">090-1476-2206</a>
          br
          | <a href="mailto:ayf-wind@sd5.so-net.ne.jp">ayf-wind@sd5.so-net.ne.jp</a>
        small.text-left
          = link_to_top_page_with_copyright
    br
