nav.navbar.navbar-expand-md.navbar-light.fixed-top.bg-faded#navbar
  .container
    a.navbar-brand href="#"
      = link_to "#{image_tag('isewan_logo_2s.png', alt: 'logo', size: '80x44')} 伊勢湾カップ".html_safe, root_path, id: "logo", class: "navbar-brand page-scroll"
    button.navbar-toggler aria-controls="navbarNav" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarNav" data-toggle="collapse" type="button"
      span.navbar-toggler-icon

    .pull-right
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a.nav-link.page-scroll href="#intro"
              | Intro
              span.sr-only (current)
          li.nav-item
            a.nav-link.page-scroll href="#whatsnew"
              | What's New
          / li.nav-item
          /   a.nav-link.page-scroll href="#score" Score
          li.nav-item
            a.nav-link.page-scroll href="#photos" Photos
          li.nav-item
            a.nav-link.page-scroll href="#movies" Movies
          - if @preliminary_events.present? || @regional_events.present?
            li.nav-item
              a.nav-link.page-scroll href="#events" Event
          - if admin_user?
            li.nav-item.logout
              = link_to "ログアウト", logout_path, method: :delete, class: "btn btn-danger btn-sm"
