doctype html
html
  head
  meta charset='utf-8'
  meta name="viewport" content="width=device-width, initial-scale=1"

  / （全てのクローラに対して、ページの発リンクを巡回しないように指示）
  / meta name="robots" content="noindex, nofollow"
  / （全てのクローラに対して、インデックスとリンク巡回を許可する）
  meta name="robots"      content="index, follow"
  meta name="keywords"    content="伊勢湾カップ, ウィンドサーフィン, 新舞子"
  meta name="description" content="
  1983年(昭和58年)より開催。今年で37回目を迎えます。
  北は北海道より南は九州・沖縄まで、全国より200名以上が参加する、
  国内有数のウィンドサーフィンの祭典です。
  愛知県知多市新舞子海岸沖で行われる、伊勢湾カップの公式サイトです。
"

  title = '伊勢湾カップ'
  <link rel="icon" type="image/png" href="./favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="./favicon-192x192.png" sizes="192x192">
  <link rel="apple-touch-icon-precomposed" href="./webclip-180x180.png">

  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'

body data-spy="scroll" data-target="#navbar"
  == render 'layouts/navbar'
  - flash.each do |message_type, message|
    = content_tag :div, message, class: "alert alert-#{message_type}"
  == yield
  == render 'layouts/footer'

  = debug(params) if Rails.env.development?
