doctype html
html
  head
  meta charset='utf-8'
  meta name="robots" content="noindex, nofollow"
  meta name="keywords"    content="伊勢湾カップ, ヨット, 新舞子"
  meta name="description" content="
  伊勢湾カップ
"

  title = '伊勢湾カップ'
  = favicon_link_tag('/favicon.ico')

  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'

body
  == yield
